
  <h1 id="tittle">!HAYMUSIC?</h1>


<img src="./assets/img/menu.png" alt="" srcset="" id="menu-burguer">
<img src="./assets/img/lupa.png" alt="" srcset="" id="buscador">


<div id="info">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque ea cupiditate fuga explicabo ducimus deserunt! Repellat, quasi! Ex laborum necessitatibus laudantium nemo. Ut non aliquid quia a placeat ipsa illum.</p>
</div>

<div id="img-publicity">

<h2 id="tittle2">MEJORES ARTISTAS</h2>

  <div id="artista1"></div>
  <div id="artista2"></div>
  <div id="artista3"></div>
  <div id="artista4"></div>




</div>

<div id="more-information">

  <h3 id="subtittle">LO MEJOR</h3>

  <p id="publicity">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto, beatae. Provident, asperiores fuga libero magni consequatur quisquam porro iure expedita! Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, repellat.</p>
  <article id="img-card"></article>
</div>



  <div id="addYoutube"></div>
  <div id="addYoutube2"></div>
<footer>

</footer>
