<app-navbar></app-navbar>

<h1 id="tittle">SOBRE EL ARTISTA</h1>

<div id="imagen"></div>

<p id="textArtist">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore delectus tenetur, ullam deserunt laboriosam molestias totam sequi nesciunt, dignissimos accusantium dolor perspiciatis voluptas, quas nemo ad autem provident labore dolorem?</p>

<h2 id="subtittle">MAS ESCUCHADAS</h2>


<div id="img"></div>


<div id="container-cards">
  <app-cards></app-cards>
  <app-cards></app-cards>
  <app-cards></app-cards>
  <app-cards></app-cards>
</div>
