@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
#tittle{
text-align: center;
position: relative;
left: -10px;
font-size: 80px;
top: -20px;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 12;
font-style: normal;
}


#menu-burguer{
  position: relative;
  width: 50px;
  left: 20px;
  top: -175px;
}

#buscador{
  position: relative;
  width: 50px;
  left: 1300px;
  top: -175px;
}
