
#tittle{
text-align: center;
position: relative;
left: -10px;
font-size: 80px;
top: -20px;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 12;
font-style: normal;
}


#menu-burguer{
  position: relative;
  width: 50px;
  left: 20px;
  top: -175px;
}

#buscador{
  position: relative;
  width: 50px;
  left: 1300px;
  top: -175px;
}
