
#tittle{
text-align: center;
position: relative;
left: -10px;
font-size: 80px;
top: -20px;
font-family: "Oswald", sans-serif;
font-optical-sizing: auto;
font-weight: 12;
font-style: normal;
}

*{
  max-width: 100%;

}

#imgPromocional{
  width: 1000px;
  position: absolute;
  height: 300px;
  background-color: gray;
  left: 240px;
  border-radius: 20px;
}

#card3{
  position: absolute;
  top: 1000px;
  left: 800px;
}

#card2{
  position: absolute;
  top:1000px;
  left: 450px;
}

#card1{
  position: absolute;
  top: 1000px;
  left: 100px;
}

#card4{
  position: absolute;
  top: 1000px;
  left: 1150px;
}
